@page "/welcome"

<h3>Welcome</h3>

<p>Current system date, time, and time-zone:</p>
<p>@DateTime.Now.ToString("F") (@TimeZoneInfo.Local.StandardName)</p>

<p> <Email EmailAddress="wimanrobin@gmail.com"></Email> </p>
<p> <Email EmailAddress="test@gmail.com"></Email> </p>

@code {
    
}
